.first-section{
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid;
}

.second-section{
     display: flex;
    flex-direction: column;
}

.third-section{
     display: flex;
    flex-direction: column;
}

.fourth-section{
     display: flex;
    flex-direction: column;
}

.fifth-section{
     display: flex;
    flex-direction: column;
}